* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  color: #000;
}

#header {
  border-bottom: 1px solid black;
  padding: 0px;
  display: grid;
  grid-template-areas: 'logo menu';
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  width: 100%;
  position: fixed;
}

.logo {
  grid-area: logo;
  padding: 5px;
  padding-left: 100px;
}

.menu {
  grid-area: menu;
  font-family: 'NanumSquareRoundB';
}

.menu> ul{  
  display: flex;
  padding-left: 700px;
}

.menu> li> a{
  line-height: 88px;
}

.menu> ul > li {
  padding: 0px 0 0 30px;
  align-items: center;
}

.menu> ul > li a:hover {
  color: gray;
}

.login_btn {
  color: rgba(255, 255, 255, 0.767);
  border: 2px solid grey;
  padding: 6px 15px;
  border-radius: 10px;
  background: transparent;
  font-size: 15px;
  cursor: pointer;
}

.signup_btn {
  color: rgba(255, 255, 255, 0.767);
  border: 2px solid grey;
  padding: 6px 15px;
  border-radius: 10px;
  background: transparent;
  font-size: 15px;
}

.photo_or_video_wrap {
  padding-left: 450px;
  padding-top: 100px;
}

.photo_or_video {
  border: 1px solid black;
  width: 375px;
  height: 400px;
}

.heart_and_comment_wrap {
  padding-top: 20px;
  padding-left: 550px;
  padding-right: 550px;
}

.heart_and_comment_wrap > ul {
  display: flex;
  justify-content: space-between;
}

.heart_wrap {
  border: 1px solid black;
  width: 60px;
  height: 20px;
  font-size: 15px;
  display: inline-block;
}

.heart_icon {
  position: relative;
  left: 3px;
  top: 1px;
}

.comment_wrap {
  border: 1px solid black;
  width: 60px;
  height: 20px;
  font-size: 15px;
  display: inline-block;
}

.comment_icon {
  position: relative;
  left: 4px;
  right: 5px;
  top: 2px;
}


.comment {
  border: 1px solid black;
  width: 60px;
  height: 20px;
  font-size: 15px;
}