* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 10px;
}

.logo {
 padding-left: 130px; 
}

.menu {
  display: flex;
  display: inline;
  padding-right: 130px;
  padding-top: 60px;
  font-family: 'NanumSquareRoundBold'
  font-size: 45px;
}

ul li {list-style-type: none; float: left; margin-right: 40px; }

.figure {
  display: inline;
}
